@import '../../../assets/styles/responsive';
.advantages {
  position: relative;
  padding: 0 30px 250px;
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  @include mobile {
    padding-bottom: 30px;
  }
  > .title {
    font-size: 52px;
    font-weight: 600;
    line-height: 0.88;
    letter-spacing: -0.5px;
    color: #333c4e;
    position: relative;
    padding: 0 5%;
    margin: 0 0 60px;
    @include mobile {
      font-size: 36px;
    }
    &:after {
      content: "";
      width: 80px;
      height: 1px;
      background: #f4b517;
      position: absolute;
      display: block;
      top: 70px;
      left: 2%;
    }
  }
  .list > div {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 5%;
    @include mobile {
      width: 100%;
      padding: 0;
    }
  }
  .info-item {
    width: 50%;
    display: flex;
    padding: 20px;
    @include mobile {
      width: 100%;
      padding: 20px 0;
    }
    .texts {
      padding: 0 0 0 30px;
    }
    span[class^="icon-"] {
      width: 75px;
      font-size: 75px;
    }
    .title {
      font-size: 26px;
      font-weight: 600;
      line-height: 1.38;
      color: #666d7b;
      margin: 0 0 10px;
      display: block;
      @include mobile {
        font-size: 20px;
      }
    }
    .content {
      font-size: 22px;
      line-height: 1.64;
      color: #7f8fa4;
      margin: 0;
      display: block;
      @include mobile {
        font-size: 18px;
      }
    }
  }
  .user-images {
    .img1 {
      position: absolute;
      width: 25vw;
      max-width: 350px;
      right: 2vw;
      bottom: 0;
      z-index: 1;
      @include mobile {
        margin-top: 30px;
        position: relative;
        width: 100%;
        right: unset;
        bottom: unset;
        display: block;
        margin: 0 auto;
      }
    }
    .img2 {
      position: absolute;
      bottom: -160px;
      left: 0;
      width: 580px;
      z-index: 1;
      @include mobile {
        display: none;
      }
    }
  }
  .business-images {
    .img1 {
      position: absolute;
      width: 24vw;
      right: 0;
      top: 25%;
      z-index: 1;
      @include mobile {
        margin-top:30px;
        position: relative;
        width: 100%;
        right: unset;
        bottom: unset;
        max-width: 400px;
        display: block;
        margin: 0 auto;

      }
    }
    .img2 {
      position: absolute;
      bottom: -210px;
      left: 0;
      width: 580px;
      z-index: 1;
      @include mobile {
        display: none;
      }
    }
  }
}
