.homenav-wrapper {
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .homenav-wrapper {
    width: 100vw;
 }
}
.homenav-wrapper > div {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.account-menu {
  width: 250px;
  text-align: left;
}
@media (max-width: 1200px) {
  .account-menu {
    display: none;
 }
}
.account-menu li {
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif !important;
  color: #7f8fa4;
  font-size: 18px !important;
}
.account-menu li p, .account-menu li a {
  margin: 0 10px !important;
}
.logout span, .logout p, .logout a {
  color: #f44336 !important;
}
.account-settings-gear {
  font-size: 22px;
}
.account-menu-icon {
  bottom: 6px;
}
.account-menu-icon span {
  font-size: 30px;
  overflow: initial;
}
@media (max-width: 1200px) {
  .account-menu-icon {
    display: none !important;
 }
}
